* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(102, 51, 153, 0.299);
  min-height: 100vh;
  margin: 0;
}
.startpage-content-box {
  text-align: center;
  width: 50vw;
  height: 50vh;
}

.startpage-content-box h4 {
  text-align: center;
}

section {
  display: block;
  text-align: center;
}
