* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(102, 51, 153, 0.299);
  min-height: 100vh;
  margin: 0;
}
.startpage-content-box {
  text-align: center;
  width: 50vw;
  height: 50vh;
}

.startpage-content-box h4 {
  text-align: center;
}

section {
  display: block;
  text-align: center;
  width: 50vw;
  height: 25vh;
  margin: auto;
}

.question-boxes {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

.answer1,
.answer2,
.answer3,
.answer4 {
  margin: 5px;
  width: fit-content;
  color: white;
  background-color: blueviolet;
  border-radius: 10px;
  border-width: 0px;
}

.answer1:hover,
.answer2:hover,
.answer3:hover,
.answer4:hover {
  opacity: 0.5;
}
