* {
  box-sizing: border-box;
}

html {
  /* background: url(Matrix\ background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; */
}

header h2 {
  margin-left: 15px;
}
.countdown-timer {
  font-size: 45px;
  color: black;
}

.view-highscores {
  color: black;
  font-size: 35px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  margin: 0;
}

#question {
  color: black;
}
.startpage-content-box {
  text-align: center;
  width: 50vw;
  height: 50vh;
  color: black;
}

.startpage-content-box h4 {
  text-align: center;
  font-size: 35px;
}

section {
  display: block;
  text-align: center;
  width: 50vw;
  height: 25vh;
  margin: auto;
}

.question-boxes {
  display: flex;
  flex-direction: column;
  width: 30vw;
}

#answer1,
#answer2,
#answer3,
#answer4 {
  margin: 5px;
  width: fit-content;
  color: black;
  background-color: rgb(3, 224, 36);
  border-radius: 10px;
  border-width: 0px;
}

.answerChoice1:hover,
.answerChoice2:hover,
.answerChoice3:hover,
.answerChoice4:hover {
  opacity: 0.5;
}

.hide {
  display: none;
}

#start-screen {
  display: "";
}
